@using Magic.Words.Shared
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Magic.Words</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Magic.Words.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Magic.Words</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Order" asp-action="Index">Order Managment</a>
                                @* asp-area="Admin" *@

                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-area="Customer" asp-controller="User" asp-action="Index">Top users</a>
                            @* asp-area="User" *@

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Map" asp-action="Index">Order Map</a>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ShopItem" asp-action="Index">Shop</a>
                            @* asp-area="User" *@

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="OrderHistory" asp-action="Index">Order History</a>
                            @* asp-area="User" *@

                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Subscription" asp-action="Index">Subscription</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Prophecy" asp-action="Index">Prophecy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

  @*  <button id="sendButton">Send Message</button>
    <ul id="messagesList">1</ul>
    <input type="text" id="userInput" placeholder="Enter your username">
    <input type="text" id="messageInput" placeholder="Enter your message">
    *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Magic.Words - <a asp-area="" asp-controller="Subscription" asp-action="Index">Index</a>
        </div>
    </footer>
   


    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/draganddrop.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        // 1 connection
        var connection = new signalR.HubConnectionBuilder().withUrl("/myHub").build();

        // Disable the send button until connection is established.
        document.getElementById("sendButton").disabled = true;

        // 2 callback
        connection.on("ReceiveMessage", function (user, message) {
            var li = document.createElement("li");
            document.getElementById("messagesList").appendChild(li);
            li.textContent = `${user} says ${message}`;
        });

        // 3 starting point
        connection.start().then(function () {
            document.getElementById("sendButton").disabled = false;

            // 4 event listener for button click
            document.getElementById("sendButton").addEventListener("click", function (event) {
                var user = document.getElementById("userInput").value;
                var message = document.getElementById("messageInput").value;

                // 5 send request to the server
                connection.invoke("SendMessage", user, message).catch(function (err) {
                    console.error(err.toString());
                });

                event.preventDefault();
            });
        }).catch(function (err) {
            console.error(err.toString());
        });
    </script>
</body>
</html>
